header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text {
  font-size: 25px;
  justify-content: center;
  width: 50%;
}
header .head_btn_left {
  width: 25%;
  justify-content: start;
}
header .head_btn_right {
  width: 25%;
  justify-content: end;
}
