* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .box {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  border: 2px solid #333;
}
.box * {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.box .imageBox img {
  object-fit: cover;
}
.box.hovered {
  border: 2px dashed #333;
}
