.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App input,
.App textarea {
  padding: 15px 20px;
  border: 1px solid #f9f9f9;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  background-color: #f9f9f9;
  font-family: sans-serif;
}
.App input::placeholder,
.App textarea::placeholder {
  color: #bdbdbd;
}
.App input:focus,
.App textarea:focus {
  border: 1px solid #d1d1d1;
}
.App-sorts {
  margin: 51px 0 23px;
  display: flex;
  gap: 30px;
}
.AppSortButton {
  padding: 12px 40px;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
}
.AppSortButton.selected {
  border-radius: 10px;
  color: #fff;
  background-color: #000;
}
.App .App-nav,
.App .App-footer {
  flex: none;
}
.App .App-container {
  flex: 1 1;
}
.App-nav {
  height: 65px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}
.App-nav-container,
.App-container,
.App-footer-container {
  width: 100%;
  max-width: 860px;
  margin: auto;
}
.App-nav-container {
  display: flex;
  height: 100%;
  align-items: center;
}
.App-container {
  padding: 50px 21px;
}
.App-ReviewForm {
  padding: 30px;
  background-image: url('./assets/ticket.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 5px;
  filter: drop-shadow(0 0 11px rgba(105, 105, 105, 0.2));
  /* box-shadow: 0 0 11px rgba(105, 105, 105, 0.2); */
}
.App-ReviewList {
  padding: 30px 30px 0;
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(105, 105, 105, 0.2);
  background-color: #fff;
}
.App-load-more-button {
  width: 100%;
  padding: 25px 0;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.App-footer {
  background-color: #000;
}
.App-footer-container {
  padding: 30px 21px;
  font-size: 14px;
  letter-spacing: -0.25px;
  text-align: right;
  color: #838383;
}
