/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
}
:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  row-gap: 20px;
  padding: 30px 65px;
  border-radius: 12px;
}
.container header {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 2.5rem;
  color: white;
  background-color: #4070f4;
}
.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
form {
  row-gap: 25px;
}
form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
form button {
  width: 100%;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: 9px 0;
  cursor: pointer;
  pointer-events: none;
  background-color: #6e93f7;
  transition: all 0.3s ease;
}
form button.active {
  pointer-events: auto;
  background-color: #0e4bf1;
}
.input-field input {
  width: 42px;
  height: 45px;
  border-radius: 6px;
  font-size: 1.15rem;
  outline: none;
  border: 1px solid #ddd;
  text-align: center;
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
